<% provide(:title, 'About Us') %>
<h1>About the BEW Global CTF</h1>
<p>
  The BEW Global CTF gained its inspiration from the many information security CTF's played throughout the year.  The BEW Global CTF was designed to be different in target, and scope.  It is focused around Critical Asset Protection Programs, including the products and services supported by BEW Global.
</p>
<p>
  Our aim is to not only challenge employees to solve complex issues related to people, process and technology, but to push the limits of various products. By pushing the products past their limits we are able to develop innovative techniques and processes to combat the changing threat landscape.
</p>