<% provide(:title, 'Help') %>
<h1>Help</h1>
<h2>FAQ:</h2>
<p>
<font style="bold">Q: What is a CTF?</font>
<br>
<font style="bold">A:</font> Simply put Capture the Flag (CTF) in the information security industry is an event or competition aimed to provide participants with an opportunity to develop practical skills, in non-production environments. CTFs aim to test the limits of participants, often producing innovative solutions to complex problems. CTF events come in many shapes and sizes; formats vary from question and answer style, jeopardy style, and attack/defense.</p>
<p>
Q: Why Participate?
<br>
A: CTF events provide a risk-free playground to develop new skills and experience challenging selected problems, but they also provide participants with exposure to stressful situations. Competing teams will be presented with intense time constraints, and stressful situations. Being exposed in a competitive environment such as a CTF event, participants will increase tolerance to stressful scenarios; carrying over into day-to-day work. CTF competitions are one of the best ways to gain relevant skills and push the industry to the next level!
</p>
<p>
Q: What makes BEW Global CTF different?
<br>
A: The BEW Global CTF was designed to provide employees an opportunity to push the limits of products and services supported by BEW Global. There will be a series of CTF events throughout the year where teams will compete in various scenarios progressively increasing in difficulty. The BEW Global CTF provides a great training opportunity for technical and non-technical staff. It will push your limits at policy governance, application management, driving CAPP, and critical thinking. Join us as we strive to test the limits of people, process, and technology.
</p>
<div>
<p>
  For more information contact BEW Global CTF Management.
</p>
</div>