<% provide(:title, 'Help') %>
<h1>Help</h1>
<h2>FAQ:</h2>
<p>
Q
<br>
A
</p>
<p>
Q
A
</p>
<p>
  For more information contact BEW Global CTF Management.
  <li><%= link_to "Contact Us",    contact_path %></li>
</p>