<% provide(:title, 'Help') %>
<h1>Help</h1>
<h2>FAQ:</h2>
<p>
Q: What is a CTF?
<br>
A
</p>
<p>
Q: Why Participate?
<br>
A
</p>
<p>
Q: What makes BEW Global CTF different?
<br>
A:
</p>
<div>
<p>
  For more information contact BEW Global CTF Management.
</p>
</div>